body {
  background: #fdf8fa;
}

header {
  text-align: center;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App h1 {
  color: #1d3557;
  padding: 30px;
  font-size: 60px;
  font-family: 'Staatliches', cursive;
}

footer {
  padding: 15px;
}

footer a,
footer {
  color: #457b9d;
  text-decoration: none;
  transition: all 120ms ease-in-out;
}

footer a:hover {
  color: #e63946;
}
