.Dictionary {
  font-family: 'Open Sans', sans-serif;
}

.Dictionary section {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  margin: 20px 60px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
  color: #353846;
}

.Dictionary input {
  width: 100%;
  padding: 6px 4px;
  border: 1px solid #ddd;
  border-radius: 6px;
}
